name: Model Deployment

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build and push Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository }}:${{ github.sha }} .
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker push ghcr.io/${{ github.repository }}:${{ github.sha }}

      - name: Login to Yandex Cloud CR
        uses: yc-actions/yc-cr-login@v3
        with:
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}

      - name: Pull from GHCR and push to Yandex CR
        env:
          YC_REGISTRY_ID: ${{ secrets.YC_REGISTRY_ID }}  # ID реестра в Yandex Cloud
          IMAGE_NAME: ml-model  # Имя образа в Yandex CR
        run: |
          # Скачиваем образ из GHCR
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker pull ghcr.io/${{ github.repository }}:${{ github.sha }}
          
          # Тегируем для Yandex CR
          docker tag ghcr.io/${{ github.repository }}:${{ github.sha }} \
            cr.yandex/$YC_REGISTRY_ID/$IMAGE_NAME:${{ github.sha }}

          # Пушим в Yandex CR
          docker push cr.yandex/$YC_REGISTRY_ID/$IMAGE_NAME:${{ github.sha }}

      - name: Deploy to Yandex Cloud Serverless Container
        uses: yc-actions/yc-sls-container-deploy@v2
        with:
          # 1. Аутентификация через сервисный аккаунт
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
          
          # 2. ID контейнера (можно найти в консоли Yandex Cloud)
          container-name: test
          folder-id: ${{ secrets.YC_FOLDER_ID}}
          
          # 3. Прямая ссылка на образ в GHCR
          revision-image-url: cr.yandex/${{ secrets.YC_REGISTRY_ID }}/ml-model:${{ github.sha }}
          revision-service-account-id: ${{ secrets.YC_CONTAINER_SA_ID }}
