name: Model Deployment

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build and push Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository }}:${{ github.sha }} .
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker push ghcr.io/${{ github.repository }}:${{ github.sha }}

      - name: Deploy to Yandex Cloud Serverless Container
        uses: yc-actions/yc-sls-container-deploy@v2
        with:
          # 1. Аутентификация через сервисный аккаунт
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
          
          # 2. ID контейнера (можно найти в консоли Yandex Cloud)
          container-name: test
          folder-id: ${{ secrets.YC_FOLDER_ID}}
          
          # 3. Прямая ссылка на образ в GHCR
          image: ghcr.io/${{ github.repository }}:${{ github.sha }}
          
          # 4. Учетные данные для доступа к GHCR (ВАЖНО!)
          image-pull-secret: |
            {
              "auths": {
                "ghcr.io": {
                  "auth": "${{ github.token }}"  # ← Используем github.token
                }
              }
            }